@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Jost", sans-serif;
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  padding-top: 41px;
  padding-bottom: 49px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects {
  padding-top: 88px;
}
.projects__heading {
  margin-bottom: 7px;
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.projects__text {
  margin-bottom: 93px;
  max-width: 737px;
  margin-left: auto;
  margin-right: auto;
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.projects__images {
  display: grid;
  padding-bottom: 100px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  -moz-column-gap: 102px;
       column-gap: 102px;
  row-gap: 53px;
}
.projects__card-image_1 {
  border-top-right-radius: 15%;
}
.projects__card-image_2 {
  border-top-left-radius: 15%;
}
.projects__card-image_3 {
  border-bottom-right-radius: 15%;
}
.projects__card-image_4 {
  border-bottom-left-radius: 15%;
}
.projects__card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 19px;
}
.projects__card-title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.projects__card-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.projects__card-list-item {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.projects__card-list-item_slash::after {
  content: "/";
  padding-left: 8px;
}
.projects__card-arrow-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f4f0ec;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.projects__card-arrow-box:hover {
  background-color: #cda274;
}
.projects__card-textbox_bottom {
  margin-top: 16px;
}

.counter {
  background-color: #f4f0ec;
}
.counter-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 161px;
  padding-bottom: 151px;
  justify-content: center;
}
.counter__content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.counter__content-box_1 {
  margin-right: 52px;
}
.counter__content-box_2 {
  margin-right: 76px;
}
.counter__content-box_3 {
  margin-right: 84px;
}
.counter__content-digit {
  margin-top: -10px;
  text-align: center;
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.counter__content-text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  text-align: center;
}
.counter__line {
  height: 130px;
  width: 1px;
  background: #cda274;
}
.counter__line_1 {
  margin-right: 75px;
}
.counter__line_2 {
  margin-right: 75px;
}
.counter__line_3 {
  margin-right: 75px;
}
.counter__line_4 {
  display: none;
}

.blog {
  padding-top: 98px;
  padding-bottom: 95px;
}
.blog__heading {
  margin-bottom: 10px;
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog__paragraph {
  margin-bottom: 52px;
  max-width: 811px;
  margin-left: auto;
  margin-right: auto;
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog__cardbox-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.blog__cardbox {
  position: relative;
  padding: 20px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: 0.3s;
}
.blog__cardbox:hover {
  background: #f4f0ec;
}
.blog__cardbox:hover .blog__arrowbox {
  background-color: #fff;
}
.blog__head {
  margin-bottom: 50px;
  width: 320px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog__data-arrow-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}
.blog__date {
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.blog__arrowbox {
  position: relative;
  height: 52px;
  width: 52px;
  background: #f4f0ec;
  border-radius: 50%;
  transition: 0.3s;
}
.blog__arrowbox svg {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog__arrowbox_special-color {
  background: #fff;
}
.blog__button {
  position: absolute;
  width: 124px;
  top: 247px;
  left: 40px;
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0px;
  padding: 7px 9px 10px 10px;
  transition: 0.3s;
}
.blog__button:hover {
  background-color: #f4f0ec;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 101px;
  margin-bottom: 134px;
}
.footer__left {
  max-width: 393px;
}
.footer__text {
  margin-bottom: 24px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__media {
  display: flex;
  flex-direction: row;
  gap: 54px;
}
.footer__media-svg:hover path {
  fill: #cda274;
  transition: 0.3s;
}
.footer__middle {
  width: 125px;
}
.footer__absent-service {
  width: 120px;
}
.footer__nav {
  margin-bottom: 21px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer__right {
  width: 258px;
}
.footer__contacts {
  margin-bottom: 25px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer__address, .footer__email, .footer__tel {
  display: inline-block;
  margin-bottom: 31px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 1232px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .counter-wrapper {
    gap: 20px;
  }
  .counter__content-box_1 {
    margin-right: 0;
  }
  .counter__content-box_2 {
    margin-right: 0;
  }
  .counter__content-box_3 {
    margin-right: 0;
  }
  .counter__line_1 {
    margin-right: 0;
  }
  .counter__line_2 {
    margin-right: 0;
  }
  .counter__line_3 {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 204px);
    padding-right: calc(50% - 204px);
  }
  .projects__images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
.header-blog {
  padding-top: 33px;
  padding-bottom: 37px;
}

.intro {
  background-image: url("../assets/blog_intro-picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.intro__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 78px;
  width: 503px;
  margin-top: 179px;
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
}
.intro__heading {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.intro__subhead-box {
  display: inline-flex;
  flex-direction: row;
}
.intro__subhead-box-item {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  text-align: center;
}
.intro__subhead-box-item:first-child::after {
  content: "/ ";
  padding-left: 5px;
}

.blog-post {
  padding-top: 202px;
  padding-bottom: 149px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.blog-post__title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog-post__latest-post {
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: 0.3s;
}
.blog-post__latest-post:hover {
  background: #f4f0ec;
}
.blog-post__latest-post:hover .blog__arrowbox {
  background-color: #fff;
}
.blog-post__latest-post-subbox {
  display: flex;
  flex-direction: row;
  gap: 64px;
  border: none;
  padding: 0;
}
.blog-post__latest-post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
}
.blog-post__latest-post-head {
  width: 463px;
  margin-bottom: 22px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog-post__latest-post-prgth {
  max-width: 482px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-post__latest-post-prgth_1 {
  margin-bottom: 34px;
}
.blog-post__latest-post-prgth_2 {
  margin-bottom: 42px;
}
.blog-post__data-arrow-box {
  width: 489px;
}

.articles__title {
  margin-bottom: 30px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.articles__blog-cardbox-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 29px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.articles__pagination {
  padding-top: 19px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.articles__pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border: 1px solid #cda274;
  border-radius: 50%;
  color: #292f36;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}
.articles__pagination-item:first-child {
  background-color: #f4f0ec;
  border: none;
}

.blog-details {
  width: 799px;
}
.blog-details__intro-image {
  background-image: url("../assets/blog-details-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 351px;
}
.blog-details__box {
  padding-top: 191px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  gap: 57px;
}
.blog-details__title {
  max-width: 685px;
  margin-bottom: 21px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog-details__image-data-box {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.blog-details__image {
  width: 799px;
  height: 539px;
  border-radius: 50px;
}
.blog-details__date-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 418px;
}
.blog-details__date, .blog-details__links {
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.blog-details__prgth-one {
  margin-bottom: 34px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__prgth-two {
  margin-bottom: 38px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__quote {
  margin-bottom: 27px;
  border-radius: 50px;
  background: #f4f0ec;
}
.blog-details__quote-content {
  padding: 82px 217px 59px 223px;
  text-align: center;
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog-details__subtitle {
  margin-top: 29px;
  margin-bottom: 20px;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog-details__sub-prgth {
  margin-bottom: 24px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__sub-box {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.blog-details__number {
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4px;
}
.blog-details__text {
  width: 713px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__image-bottom {
  margin-top: 12px;
  margin-bottom: 26px;
  border-radius: 50px;
  width: 799px;
  height: auto;
}
.blog-details__prgth-bottom {
  margin-bottom: 50px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__aside {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.blog-details__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.blog-details__aside-title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}/*# sourceMappingURL=style.css.map */